<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>

    <link rel="stylesheet" type="text/css" href="css/styles.css">


</head>



<body>

    

    <nav>

        <div id="lien">
            <a href="/inscription">Inscription</a>
            <a href="/connexion">Connexion</a>
        </div>
        
    </nav>



    <div id="presentationPortfolio">
        <h1>Voici mon portfolio :</h1>

        <a href="https://marvin.fronthub.fr/"><img id="imgPortfolio" src="ressources/images/portfolio-Marvin-Morin.png"
                alt="Portfolio Marvin Morin"></a>
    </div>

    <script type="text/javascript" src="js/verifConnecte.js"></script>

</body>

</html>