<!-- connexion.ejs -->

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link type="text/css" rel="stylesheet" href="css/connexion.css">
</head>

<body>



    <nav>
        <div id="lien">
            <a href="/inscription">Inscription</a>
            <!-- Lien vers la page d'inscription -->
        </div>

    </nav>



    <% if (locals.erreur==='utilisateur_non_trouve' ) { %>
        <!-- Affichage d'une alerte si l'erreur est "utilisateur_non_trouve" -->
        <script>alert('Utilisateur non trouvé');</script>
        <% } else if (locals.erreur==='mot_de_passe_incorrect' ) { %>
            <!-- Affichage d'une alerte si l'erreur est "mot_de_passe_incorrect" -->
            <script>alert('Mot de passe incorrect');</script>
            <% } else if (locals.erreur==='utilisateur_incorrect' ) { %>
                <!-- Affichage d'une alerte si l'erreur est "utilisateur_incorrect" -->
                <script>alert('Email incorrect');</script>
                <% } %>



                <h1>Connexion</h1>
                <!-- Titre de la page -->
            


                <form action="/users/connexion" method="post">
                    <!-- Formulaire d'envoi des données de connexion -->
                    <label for="email">Email:</label>
                    <!-- Champ pour l'adresse email -->
                    <input type="email" id="email" name="email" required>
                    <!-- Champ de saisie avec validation obligatoire -->
            
                    <br>
                    
                    <label for="password">Mot de passe:</label>
                    <!-- Champ pour le mot de passe -->
                    <input type="password" id="password" name="password" required>
                    <!-- Champ de saisie avec validation obligatoire -->
            
                    <br>
            
                    <button type="submit">Se connecter</button>
                    <!-- Bouton de soumission du formulaire -->
                </form>
                


</body>

</html>